.top-header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    background-color:rgba(40, 58, 90, 0.9);
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1.5% 2%;
    transition:background-color 0.3s ease;
}
@keyframes float {
    0% {
        transform:translateY(0px);
    }
    50% {
        transform:translateY(-15px);
    }
    100% {
        transform:translateY(0px);
    }
}
.floating {
    animation:float 3s ease-in-out infinite;
}
.menu a:hover {
    color:#47b2e4;
}
section {
    scroll-margin-top:80px;
}
.logo {
    font-size:1.5rem;
    font-weight:bold;
    width:15%;
}
.menu {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:2%;
    width:60%;
    margin-left:auto;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:1rem;
    white-space:nowrap;
}

.get-started {
    background-color:#47b2e4;
    border:none;
    color:white;
    padding:0.5rem 1.2rem;
    border-radius:2rem;
    font-weight:bold;
    cursor:pointer;
    font-size:1rem;
    width:10%;
    min-width:90px;
}

#home {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:5% 8%;
    background-color:#37517e;
    min-height:100vh;
    gap:5%;
}
.home-left {
    width:50%;
}
.home-left h1 {
    display:block;
    font-size:40px;
    color:white;
    margin-bottom:2rem;
    font-weight:800;
    width:546px;
    height:112px;
    line-height:1.6;
}
.home-left p {
    width:500px;
    height:80x;
    font-size:20px;
    font-weight:600;
    margin: 5px 0px 30px;
    color:#f5f6f8;
}
.home-buttons {
    display:flex;
    gap:1rem;
}
#home-buttons-started {
    white-space:nowrap;
    background-color:#47b2e4;
    color:white;
    border:none;
    padding:0.8rem 2rem;
    font-weight:bold;
    border-radius:50px;
    cursor:pointer;
    font-size:1rem;
}
#home-buttons-watchvideo {
    background:#37517e;
    color:white;
    border:none;
    padding:0.8rem 1.2rem;
    cursor:pointer;
    font-size:1rem;
    display:flex;
    align-items:center;
    gap:0.5rem;
}
.home-right img {
    width:650px;
    height:550px;
}
.logo-slider {
    overflow:hidden;
    background-color:#f5f6f8;
    padding: 1rem 0;
    width:100%;
    height:80px;
}
.logo-track {
    display:flex;
    animation:scrollLogos 16s steps(16) infinite;
    gap:60px;
}

.logo-track img {
    flex:0 0 270px;
    height:40px;
    object-fit:contain;
}

@keyframes scrollLogos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform:translateX(-1320px);
    }
}

#Aboutus {
    padding:80px 0;
    background:white;
}
.container {
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
}
.section-title {
    text-align:center;
    font-size:2rem;
    font-weight:700;
    color:#37517e;
    position:relative;
    text-transform:40px;
    margin-bottom: 40px;
}

.section-title::after {
    content: '';
    display:block;
    width:60px;
    height:2px;
    background-color:#47b2e4;
    margin: 8px auto 0;
}

.about-content {
    display:flex;
    flex-wrap:wrap;
    gap:40px;
    justify-content:space-between;
}
.about-left, .about-right {
    flex:1 1 45%;
}
.about-list {
    list-style:none;
    padding:0;
    margin-top:1rem;
}
.about-list li {
    display:flex;
    align-items:flex-start;
    gap:10px;
    margin-bottom:15px;
    line-height:1.6;
}
.about-list svg {
    min-width:20px;
    min-height:20px;
    margin-top:2px;
}
.about-left p, .about-right p, .about-list li span{
    line-height:1.8;
    text-align:left;
}
#readmore {
    display:inline-block;
    margin-top:20px;
    padding:10px 24px;
    color:#47b2e4;
    border:2px solid #47b2e4;
    border-radius:5px;
    text-decoration:none;
    font-weight:600;
    cursor:pointer;
    transition:all 0.3s;
}
#readmore:hover {
    background-color:#47b2e4;
    color:white;
}
.about-bottom {
    background-color:#f5f6f8;
    padding: 60px 0;
}
.about-bottom .container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
    gap:400px;
    max-width:1320px;
    margin: 0 auto;
    padding:0 40px;
}
.about-bottom .container .ab-contents {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.ab-left {
    width:50%
}
.ab-right {
    width:45%;
    text-align:right;
}
.title {
    font-size:32px;
    color:#37517e;
}
.title span {
    font-weight:800;
    display:inline-block;
}
.title-des {
    color:#444444;
    margin:20px 0;
}
.items {
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.item {
    background:white;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.05);
    position:relative;
}
.item input[type="checkbox"] {
    display:none;
}
.item label {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1.2rem 1rem;
    cursor:pointer;
    font-weight:600;
}
.item label h3 {
    font-size:1rem;
    display:flex;
    align-items:center;
    margin:0;
    gap:10px;
    color:#37517e;
}
.item label h3 span {
    color:#47b2e4;
    font-weight:bold;
}
.item label h3:hover {
    color:#47b2e4;
}
.item label svg:hover {
    color:#47b2e4;
}

.item div[class*="-body"] {
    max-height:0;
    overflow:hidden;
    padding:0 1rem;
    transition:max-height 0.3s ease, padding 0.3 ease;
    color:black;
    font-size:0.95rem;
    line-height:1.6;
} 
.item input:checked ~ div[class*="-body"] {
    max-height:300px;
    padding-bottom:1rem;
}
.item input:checked + label svg {
    transform:rotate(90deg);
    color:#47b2e4;
}
.item input:checked + label h3 {
    color:#47b2e4;
}
.ab-right img{
    width:100%;
    height:auto;
}
.skills {
    padding:60px 0;
    background-color:white;
}
.skills-content {
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:400px;
    padding:0 5rem;
    gap:2rem;
}
.skills-left, .skills-right {
    width:50%;
}
.skills-left img {
    width:100%;
    display:block;
    height:auto;
}
.skills-right {
    flex:1;
}
.skills-right h1 {
    color:#37517e;
    font-size:28px;
    margin-bottom:15px;
    font-weight:800;
}
.skills-right .title-des {
    color:#444444;
    margin-bottom:30px;
}
.skill {
    margin-bottom:20px;
    position:relative;
}
.skill span {
    display:inline-block;
    font-weight:600;
    color:black;
}
.HTML-bar, .CSS-bar, .JAVASCRIPT-bar, .PHOTOSHOP-bar {
    width:100%;
    height:8px;
    background-color:#e9ecef;
    overflow:hidden;
    margin-top:5px;
}

.HTML-fill, .CSS-fill, .JAVASCRIPT-fill, .PHOTOSHOP-fill {
    height:100%;
    background-color:#37517e;
}
.HTML-fill {
    width:100%;
}
.CSS-fill {
    width:90%;
}
.JAVASCRIPT-fill {
    width:75%;
}
.PHOTOSHOP-fill {
    width:55%;
}
.percent {
    float:right;
    font-size:14px;
    margin-top:-20px;
    color:black;
}
#services {
    background-color:#f5f6f8;
    text-align:center;
    padding:60px 40px;
}
.services-title {
    font-size:32px;
    font-weight:800;
    color:#37517e;
    margin-bottom:10px;
    position:relative;
}
.services-title::after {
    content:"";
    display:block;
    width:60px;
    height:3px;
    margin:12px auto 0;
    background:#47b2e4;
    position:relative;
}
.services-title-des {
    color:black;
    font-size:16px;
    max-width:800px;
    margin:0 auto 70px;
}
.services-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
    gap:30px;
    max-width:1200px;
    margin:0 auto;
}
.services-square {
    background-color:white;
    min-height:280px;
    padding:40px 24px;
    text-align:left;
    transition: transform 0.3s ease;
}
.services-square:hover {
    transform:translateY(-10px);
}
.services-square svg{
    margin-bottom:16px;
}
.services-square h3 {
    font-weight:700;
    color:#37517e;
    margin-bottom:16px;
    font-size:18px;
}
.services-square p {
    font-size:15px;
    color:black;
    line-height:1.5;
}
.workprocess {
    background-color:white;
    padding:60px 0;
}
.wp-title {
    text-align:center;
    margin-bottom:40px;
}
.wp-title h2 {
    font-size:32px;
    font-weight:700;
    color:#37517e;
}
.wp-title p {
    font-size:16px;
    color:black;
    margin-top:10px;
}
.wp-squares{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}
.wp-square {
    position:relative;
    background-color:white;
    box-shadow:0 4px 30px rgba(0, 0, 0, 0.06);
    padding:30px 20px;
    flex:1 1 30%;
    text-align:center;
    box-sizing:border-box;
    text-align:center;
    border-radius:20px;
    overflow:hidden;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}
.wp-square:hover {
    transform:translateY(-10px);
}
.wp-square:hover img {
    transform:scale(1.3);
}
.wp-square img {
    max-width:100%;
    height:auto;
    margin-bottom:20px;
}
.circle {
    position:absolute;
    top:42%;
    left:15%;
    transform:translate(-50%, -50%);
    width:60px;
    height:60px;
    background-color:#47b2e4;
    color:white;
    font-weight:bold;
    font-size:20px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.wp-square h3 {
    font-weight:700;
    color:#37517e;
    font-size:20px;
    text-align:left;
    margin-bottom:16px;
}
.wp-square p {
    font-size:14px;
    color:#444444;
    text-align:left;
    line-height:1.8;
    margin-bottom:20px;
}
.wp-square ul {
    list-style:none;
    padding:0;
}
.wp-square ul li {
    color:#444444;
    text-align:left;
    font-weight:500;
    margin:5px 0;
    margin-bottom:15px;
}